<%- include('components/head') %>
<%- include('components/nav') %>
<div class="container py-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">
      <%- include('comments/commentDetail') %>
    </div>
  </div>
</div>
</body>
<%- include('components/footer') %>