<%- include('components/head') %>
  <%- include('components/nav') %>
  <div class="container d-flex justify-content-center py-4">
    <%- include('comments/commentDetail') %> 
  </div>
</body>
<%- include('components/footer') %>