<%- include('components/head') %>
  <%- include('components/nav') %>
  <div class="container">

    <h1 class="text-danger text-center">Page Not Found!</h1>
  </div>
</body>
<%- include('components/footer') %>